  <div class="container overflow-auto">
    <div class="card" *ngFor="let meal of randomMealData">
      <div class="card-header font-weight-bold">
        {{ meal.strMeal }}
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="card-text">{{ meal.strCategory}}</div><br/>
            <p class="card-text ingredient-headding"><b>Ingredients:</b></p>
            <ul class="card-text">
              <li> {{ meal.strMeasure1 }} {{ meal.strIngredient1 }}</li>
              <li> {{ meal.strMeasure2 }} {{ meal.strIngredient2 }}</li>
              <li>{{ meal.strMeasure3 }} {{ meal.strIngredient3 }}</li>
              <li>{{ meal.strMeasure4 }} {{ meal.strIngredient4 }}</li>
              <li> {{ meal.strMeasure5 }} {{ meal.strIngredient5 }}</li>
              <li>{{ meal.strMeasure6 }} {{ meal.strIngredient6 }}</li>
              <li> {{ meal.strMeasure7 }} {{ meal.strIngredient7 }}</li>
              <li> {{ meal.strMeasure8 }} {{ meal.strIngredient8 }}</li>
              <li>{{ meal.strMeasure9 }} {{ meal.strIngredient9 }}</li>
              <li>{{ meal.strMeasure9 }} {{ meal.strIngredient9 }}</li>
              <li>{{ meal.strMeasure10 }} {{ meal.strIngredient10 }}</li>
            </ul>
          </div>
          <div class="col">
            <div class="card">
              <img class="card-img-top" class="img-size" [src]="meal.strMealThumb" alt="Meal image">
            </div>
            <br>
            <div>
              <a [href]="meal.strYoutube" class="btn btn-danger" target="_blank">Watch Video</a>
            </div>
          </div>
        </div>
        <br>
        <h6 class="card-text">{{ meal.strMeal }}</h6>
        <p class="card-text"><b>Description:</b> {{ meal.strInstructions}}</p>
      </div>
    </div>
  </div>
