/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';


body {
  font: 12px Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/* Global */
.container {
  width: 60%;
  margin: auto;
  overflow: hidden;
}


/* Nav Bar */
#meal-nav {
  background: #35424a;
  color: #ffffff;
  height: 5em;
  border-bottom: #e8491d 3px solid;
}

.meal-name {
  margin-left: 50px;
  color: brown;
  font-weight: bold;
  cursor: pointer;
}


p,
a {
  font-size: 12px !important;
  text-align: justify;
  line-height: 20px; 
}

input {
  font-size: 12px !important;
  text-align: justify;
}
.search-input{
 width: 300px;
}

ul {
  padding: 0;
}

ul li{
  list-style-type: none;
   line-height: 18px; 
  word-spacing: 2px;
   
}
.ingredient-headding{
  margin-bottom: auto;
  padding-bottom: 5px;
}

.img-size{
  width: 326px;
   height:250px;
}

.info {
  width: 150px;
  padding: 4px;
  margin: auto;
}



/* background image */
.bgimg {
  background: url('./assets/images/meal-big.jpg') no-repeat bottom center scroll;
  background-size: cover;
  width: 100%;
  height: 100vh;
  top:0px; bottom: 0px;
    height: 100%;
    background-repeat: repeat;
    position: absolute;
    overflow-x: scroll;
}
